:root {
  --main-title-color: #212121;
  --secondary-title-color: #757575;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --tertiary-text-color: #ffffff;
  --background-color: #e5e5e5;
  --background-btn-color: #f5f4fa;
  --main-background-color: #ffffff;
  --project-gap: 30px;
  --container-gap: 94px;
  --container-gap-mobile: 60px;
  --main-font: 'Roboto', sans-serif;
  --logo-font: Raleway, sans-serif;
}
